<p id="notice"><%= notice %></p>

<h1>Signal Posts</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Userid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @signal_posts.each do |signal_post| %>
      <tr>
        <td><%= signal_post.content %></td>
        <td><%= signal_post.userId %></td>
        <td><%= link_to 'Show', signal_post %></td>
        <td><%= link_to 'Edit', edit_signal_post_path(signal_post) %></td>
        <td><%= link_to 'Destroy', signal_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Signal Post', new_signal_post_path %>
