<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <span class="nickname"><%= link_to @user.nickname, @user %></span>
		<span class="username">(@<%= @user.username %>)</span>
  <br/>
  <br/>
      <span><b>Signals:</b> <%= @user.signal_posts.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
    <% end %>
  </div>
</div>