<h1>Welcome</h1>
<aside class="col-md-4">
	<section class="user_info">
		<span class="nickname"><%= link_to current_user.nickname, current_user %></span>
		<span class="username">(@<%= current_user.username %>)</span>
	</section>
    <section class="stats">
		<%= render 'shared/stats' %>
    </section>
	<section class="signal_post_form">
		<%= render 'shared/signal_post_form' %>
	</section>
</aside>
<section class="feed_signals">
	<%= render 'shared/feed' %>
</section>