<a href= <%= root_path %>>
	<div class="title">
		<%= image_tag "beacon_small.png", alt: "Beacon logo" %>
		Beacon
	</div>
</a>
<nav>
        <span class="navbaritem"><%= link_to "Home", root_path %></span>
        <% if logged_in? %>
			<span class="navbaritem"><%= link_to "Users", '/users' %></span>
			<span class="navbaritem"><%= link_to "Profile", current_user %></span>
			<span class="navbaritem"><%= link_to "Log out", logout_path, method: "delete" %></span>
        <% else %>
			<span class="navbaritem"><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
</nav>